<!-- Add Attachment Modal -->
<div class="modal fade" id="addAttachmentModal" tabindex="-1" aria-labelledby="addAttachmentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content border-0 shadow-lg">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="addAttachmentModalLabel">Add Attachment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: attach_file_project_issue_path(@issue.project, @issue), local: true, html: { multipart: true }, class: 'needs-validation' do |form| %>
          <div class="mb-3">
            <%= form.file_field :files, multiple: true, class: 'form-control' %>
          </div>

          <div class="text-end">
            <%= form.submit 'Upload', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
