/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 *= require_tree .
 *= require_self
 *= require select2
 */

 @import "bootstrap";

 $primary-color: #007bff;
 $background-color: #DDE6ED;

 .bg-light {
   background-color: $background-color;
 }

 .btn-primary {
  color: $primary-color;
  border: 2px solid $primary-color;
  background-color: transparent; 
  transition: background-color 0.3s, color 0.3s; 

  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
}

 .flash {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  .notice{
    background-color: #e7f3fe;
    color: #31708f;
  }
  .alert{
    background-color: #f2dede;
    color: #a94442;
  }
 }
 
 #error_explanation {
   border: 1px solid #f5c6cb;
   background-color: #f8d7da;
   padding: 20px;
   border-radius: 5px;
   margin-bottom: 20px;
   h2 {
     color: #721c24;
     font-size: 18px;
     margin-top: 0;
   }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        color: #721c24;
        font-size: 14px;
      }
    }
 }
 
