/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 $primary-color: #445464;
 
 .btn-primary {
   background-color: $primary-color;
 }
 .flash {
   padding: 10px;
   margin: 10px 0;
   border-radius: 5px;
 }
 
 .flash.notice {
   background-color: #e7f3fe;
   color: #31708f;
 }
 
 .flash.alert {
   background-color: #f2dede;
   color: #a94442;
 }
 
 #error_explanation {
   border: 1px solid #f5c6cb;
   background-color: #f8d7da;
   padding: 20px;
   border-radius: 5px;
   margin-bottom: 20px;
 }
 
 #error_explanation h2 {
   color: #721c24;
   font-size: 18px;
   margin-top: 0;
 }
 
 #error_explanation ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
 }
 
 #error_explanation ul li {
   color: #721c24;
   font-size: 14px;
 }
 
 
