$primary-color: #1679AB;
$background-custom-color: #DDE6ED;
$secondary-color: #6c757d; // Define your secondary color
$warning-color: #ffc107; // Define your warning color
$danger-color: #dc3545; // Define your danger color
 
 .bg-light {
   background: $background-custom-color;
 }

.text-primary {
  color: $primary-color;
}

 .bg-info{
    background-color: $primary-color;
    color: $primary-color;
 }
 .btn-primary {
   color: $primary-color;
   border: 2px solid $primary-color;
   background: transparent; 
   transition: background-color 0.3s, color 0.3s; 
 
   &:hover {
     background: $primary-color;
     color: #fff;
   }
 }

 .btn-secondary {
  color: $secondary-color;
  border: 2px solid $secondary-color;
  background: transparent;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background: $secondary-color;
    color: #fff;
  }
}

.btn-warning {
  color: $warning-color;
  border: 2px solid $warning-color;
  background: transparent;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background: $warning-color;
    color: #fff;
  }
}

.btn-danger {
  color: $danger-color;
  border: 2px solid $danger-color;
  background: transparent;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background: $danger-color;
    color: #fff;
  }
}

 .flash {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  .notice{
    background-color: #e7f3fe;
    color: #31708f;
  }
  .alert{
    background-color: #f2dede;
    color: #F9D689;
  }
  .error{
    background-color: #f2dede;
    color: #a94442;
 }
}

.main-content {
  margin-left: 250px;
  transition: margin-left 0.3s;

  &.collapsed {
    margin-left: 80px;
  }

  @media (max-width: 768px) {
    margin-left: 80px;

    &.expanded {
      margin-left: 250px;
    }
  }
}